:root {
    --fw-Medium-500: 500;
    --fw-SemiBold-600: 600;
    --fw-Bold-700: 700;
    --fw-ExtraBold-800: 800;

    --transition-3: ease 0.3s;
    --transition-5: ease 0.5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    font-family: "Cairo", sans-serif;
    overflow-x: hidden;
}

@media (max-width: 786px) {
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    a {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 10px;
    }
}

ul {
    list-style: none;
}

img,
a {
    display: inline-block;
}

.container {
    padding-inline: 15px;
    margin-inline: auto;
}

@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 991px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1199px) {
    .container {
        width: 1150px;
    }
}

/* Start home */
.home {
    background-color: #e0e0e0d0;
    min-height: 100vh;
    padding-block: 100px;
}

.container,
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 100px;
}

.home .container {
    align-items: flex-start;
}

.contact-form h2 {
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 35px;
    color: #0086cf;
}

.contact-form input,
select {
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 100px;
    width: 100%;
    background-color: #fff;
}

label {
    display: block;
    padding: 5px 30px;
    color: #0086cf;
    text-transform: capitalize;
}

label span {
    color: red;
}

.contact-form button {
    border: none;
    outline: none;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 100px;
    cursor: pointer;
    color: #0086cf;
}
.contact-form button:focus {
    background-color: #0086cf;
    color: #fff;
}

.container .image {
    position: relative;
    animation: ro 4s infinite linear;
    width: 410px;
    height: 410px;
}

.container .image::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -4.4px;
    width: 100%;
    height: 100%;
    border-top: 5px solid #0086cf;
    border-left: 5px solid transparent;
    border-bottom: 5px solid #0086cf;
    border-right: 5px solid transparent;
    border-radius: 100%;
    animation: rotate 4s infinite linear;
}

@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}

.container .image img {
    width: 400px;
    height: 400px;
    max-width: 100%;
}

.container .contact-form {
    flex: 2;
}

@media (min-width: 1200px) {
    .container .image {
        position: sticky;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 1200px) {
    .home .container {
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
    }

    .container .image {
        width: 310px;
        height: 310px;
    }

    .container .image img {
        width: 300px;
        height: 300px;
    }

    .container .contact-form {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .container .image {
        width: 210px;
        height: 210px;
    }

    .container .image img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 400px) {
    .container .image {
        width: 160px;
        height: 160px;
    }

    .container .image img {
        width: 150px;
        height: 150px;
    }
}
/* End home */